/* Docker & System Files */
_docker
.DS_Store

/* WebApp */
public/polymath.ini
public/vendor
public/cache
public/.git
public/.gitignore

/*Ignore all templates except for default and shared */
/public/templates/*
!/public/templates/default/**
!/public/templates/shared/**
